<%= javascript_include_tag 'highcharts.js', :plugin => 'redmine_chart' %>
<p>
<table border=1 >
<% pie_chart.each do |id,cnt| -%>
<td><%=id%></td><td><%=cnt%></td><tr>
<% end -%>
<th><%=l(:label_redmine_chart_index_total)%></th><th><%= total%></th>
</table>

<div style="border:1px solid gray; height: 600px ">
<%= high_chart( name, chart) %>
</div>


