<%= javascript_include_tag 'highcharts.js', :plugin => 'redmine_chart' %>
<%= render :partial => 'filter' %>
<p>
<% if @issues.empty? ||  @assigned <= 0   %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<%#= render :partial => 'issues/list', :locals => {:issues => @issues, :query => @query} %>

<h2><%= l(:label_redmine_chart_index_prj_menu) %>&ensp;(<%= @today %>)</h2>
<%= @all_first_date %> <%= l(:label_redmine_chart_first_date) %><br>
<%= @all_last_date %> <%= l(:label_redmine_chart_last_date) %><br>
<h3><%#= @crnt_uname%><%= l(:label_redmine_chart_index_tickets_for) %></h3>
<p>
<%= render :partial => 'pie_chart', object:  @status_list_cnt ,  :locals => { :total => @assigned , :chart =>@chart , :name => "sts"} %>

<%#= render :partial => 'pie_chart', object:  @prj_list_cnt ,  :locals => { :total => @all_assigned , :chart =>@chart2 , :name => "prj" } %>

<div style="width: 100%; height: 600px">
<%= high_chart("mix2", @multiple2) %>
</div>
<p>
<div style="width: 100%; height: 600px">
<%= high_chart("mix3", @multiple3) %>
</div>
<div style="width: 100%; height: 600px">
<%= high_chart("burnup", @multiple4) %>
</div>

<% end %>


