<%= javascript_include_tag 'highcharts.js', :plugin => 'redmine_chart' %>
<h2><%= l(:label_redmine_chart_index_prj_menu) %></h2>
<%= format_date(@date_to -@days)%> <%= l(:label_redmine_chart_index_start_day) %><br>
<%= format_date(@date_to)%> <%= l(:label_redmine_chart_index_past_days) %><br>
<%= @name %>
<br>
<h3><%= @crnt_uname%><%= l(:label_redmine_chart_index_tickets_for) %></h3>
<p>
<%= render :partial => 'pie_chart', object:  @status_list_cnt ,  :locals => { :total => @assigned , :chart =>@chart } %>

<div id=“container” style=“width: 70%; height: 600px”>
<%= high_chart("sample", @graph) %>
</div>

<div id=“container” style=“width: 100%; height: 600px”>
<%= high_chart("mix", @multiple) %>
</div>

<div class="contextual">
  <%= link_to_if_authorized(l(:label_redmine_chart_new), 
                            {:action => 'new', :project_id => @project}, 
                            :class => 'icon icon-add') %>
</div>


