<%= javascript_include_tag 'highcharts.js', :plugin => 'redmine_chart' %>
<h2><%= l(:label_redmine_chart_index_prj_menu) %></h2>
<%= format_date(@date_to -@days)%> <%= l(:label_redmine_chart_index_start_day) %><br>
<%= format_date(@date_to)%> <%= l(:label_redmine_chart_index_past_days) %><br>
<%= @name %>
<br>
<h3><%= @crnt_uname%><%= l(:label_redmine_chart_index_tickets_for) %></h3>
<p>
<table border=1 align="center">
<% @status_list_cnt.each do |id,cnt| -%>
<td><%=id%></td><td><%=cnt%></td><tr>
<% end -%>
<th><%=l(:label_redmine_chart_index_total)%></th ><th><%= @assigned  %></th>
</table>

<div id=“container” style=“width: 100%; height: 400px”>
<%= high_chart("hoge", @chart) %>
</div>
<div id=“container” style=“width: 70%; height: 600px”>
<%= high_chart("sample", @graph) %>
</div>
<div id=“container” style=“width: 100%; height: 600px”>
<%= high_chart("mix", @multiple) %>
</div>

<%= render :partial => 'pie_chart', :locals => {:query => @status_list_cnt, :total => @assigned :chart =>@chart } %>

<div class="contextual">
  <%= link_to_if_authorized(l(:label_redmine_chart_new), 
                            {:action => 'new', :project_id => @project}, 
                            :class => 'icon icon-add') %>
</div>


